html {
    font-family: Helvetica, Verdana, sans-serif;
}

body {
    background-color: white;
}

main {
    background-color: lavender;
    margin: 4px;
    padding: 8px;
    border: 2px;
    border-color: black;
    border-style: solid;
}
